:root {
  --height: 80px;
  --border: 4px;
  --color: rgb(47, 168, 47);
}

* {
  font-family: monospace, sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.calculator {
  width: fit-content;
  background-color: rgb(129, 129, 129);
  padding: var(--border);
  display: flex;
  flex-direction: column;
  border: solid;
  border-radius: 5px;
}

.display {
  height: 150px;
  background-color: rgb(236, 231, 231);
  font-size: 50px;
  display: flex;
  flex-direction: row-reverse;
  align-content: center;
  padding-right: var(--border);
  border-radius: 5px;
  margin: var(--border);
}

.row {
  display: flex;
}

button {
  height: var(--height);
  width: var(--height);
  margin: var(--border);
  font-size: 30px;
  border-style: hidden;
  border-radius: 50%;
  background-color: rgb(51, 51, 51);
  color: rgb(251, 251, 251);
}

button:hover {
  background-color: rgb(212, 208, 208);
}

button:active {
  background-color: rgb(189, 185, 185);
}

.specialB {
  color: var(--color);
  font-size: 40px;
}

#clearAll {
  color: rgb(228, 20, 20);
  font-size: 28px;
}

#equal {
  color: white;
  background-color: var(--color);
}

#equal:hover {
  background-color: rgb(42, 151, 42);
}

#equal:active {
  background-color: rgb(34, 134, 34);
}

.per {
  font-size: 30px;
}

/* large 0 button */
/* #b0 {
  width: 168px;
  border-radius: 40px;
} */

.sign {
  color: var(--color);
}

#back {
  font-size: 36px;
}